body {
    background-color: #293742;
    padding: 20px;
}

.form-label {
    display: inline-block;
    width: 70px;
    text-align: right;
}

.fetch-data-button {
    width: 660px;
    margin-left: 5px;
}